<phpunit
    bootstrap="Tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >

    <testsuites>
        <testsuite name="My Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">lib</directory>
      </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="America/Los_Angeles" />
        <ini name="display_errors" value="on" />
    </php>

</phpunit>
